<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This new html reponse after using Base_Dir</h1>
        <h1><i>Base directory is used to get the path dynamically upto outer project irrespective of file location <br>
        so we are using base dir for taking the location, urinversally we use this type of representaion only for taking the path</i></h1>
    </center>
</body>
</html>